*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior:smooth;
}

body{
    font-family:Arial,sans-serif;
    background:#f4f7fb;
    color:#333;
    line-height:1.6;
}

.container{
    width:90%;
    max-width:1100px;
    margin:auto;
}

header{
    background:linear-gradient(135deg,#4CAF50,#2E8B57);
    color:white;
    text-align:center;
    padding:60px 20px;
}

.profile{
    width:170px;
    height:170px;
    border-radius:50%;
    border:5px solid white;
    object-fit:cover;
    margin-bottom:20px;
}

header h1{
    font-size:42px;
    margin-bottom:10px;
}

header p{
    font-size:20px;
    margin-bottom:20px;
}

.btn{
    display:inline-block;
    background:white;
    color:#4CAF50;
    padding:12px 25px;
    border-radius:30px;
    text-decoration:none;
    font-weight:bold;
    transition:0.3s;
}

.btn:hover{
    background:#222;
    color:white;
}

nav{
    background:#222;
    position:sticky;
    top:0;
    z-index:1000;
}

nav ul{
    list-style:none;
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
}

nav ul li{
    margin:15px;
}

nav ul li a{
    color:white;
    text-decoration:none;
    font-size:18px;
    transition:0.3s;
}

nav ul li a:hover{
    color:#4CAF50;
}

section{
    padding:50px 0;
}

section h2{
    text-align:center;
    color:#4CAF50;
    margin-bottom:25px;
}

.card{
    background:white;
    padding:20px;
    margin:20px 0;
    border-radius:10px;
    box-shadow:0 4px 10px rgba(0,0,0,.15);
    transition:0.3s;
}.card:hover{
    transform:translateY(-8px);
    box-shadow:0 8px 20px rgba(0,0,0,0.2);
}

progress{
    width:100%;
    height:20px;
    margin-bottom:20px;
}

form{
    background:#fff;
    padding:25px;
    border-radius:10px;
    box-shadow:0 4px 10px rgba(0,0,0,0.15);
}

input,
textarea{
    width:100%;
    padding:12px;
    margin:10px 0;
    border:1px solid #ccc;
    border-radius:8px;
    font-size:16px;
}

textarea{
    resize:none;
}

button{
    background:#4CAF50;
    color:white;
    border:none;
    padding:12px 20px;
    border-radius:8px;
    cursor:pointer;
    font-size:16px;
    transition:0.3s;
}

button:hover{
    background:#2E8B57;
}

footer{
    background:#222;
    color:white;
    text-align:center;
    padding:20px;
    margin-top:40px;
}

@keyframes fadeIn{
    from{
        opacity:0;
        transform:translateY(20px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}

header,
section,
.card{
    animation:fadeIn 1s ease;
}

@media(max-width:768px){

    header h1{
        font-size:30px;
    }

    header p{
        font-size:16px;
    }

    nav ul{
        flex-direction:column;
        align-items:center;
    }

    nav ul li{
        margin:8px 0;
    }

    .profile{
        width:130px;
        height:130px;
    }

    .container{
        width:95%;
    }

    button{
        width:100%;
    }

}